#mstteam-login-form input#user_login,
#mstteam-login-form input#user_pass{
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
    margin: 10px 0px;
}
#mstteam-login-form input#rememberme:focus{
outline: none;
}
#mstteam-login-form input#wp-submit{
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
    margin: 7px 0px;
}
.mstteam-lost-password-link{
    text-align: center;
    margin: auto;
    display: block;
}

.mstteam-login-error p.mstteam-p-error{
    border-left: 4px solid #d63638;
    padding: 12px;
    margin-left: 0;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
#mstteam-login-form.mstteam-shake{
    animation: mstteam-shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes mstteam-shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}